<div class="navbar navbar-dark bg-dark">
    <nav class="navbar navbar-expand-lg navbar-bg-light">
    <a class="navbar-brand" style="color:rgb(196, 164, 116)">Polling App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style="color:rgb(196, 164, 116)" routerLink="../user" class="nav-item nav-link active" >User </a>
      
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style="color:rgb(196, 164, 116)" (click)="polls()" class="nav-item nav-link active" >polls</a>
        
      
      </div>
      <div class="navbar-nav">
        <a style="color:rgb(196, 164, 116)" class="nav-item nav-link active" routerLink="../createpoll" >Create polls</a>
        
      
      </div>
    </div>
  </nav> 
</div>




<div class="container mt-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-10 col-lg-10">
          <div class="border">
              <div class="question bg-white p-3 border-bottom">
                  <div class="d-flex flex-row justify-content-between align-items-center mcq">
                      <h4>MCQ Quiz</h4>
                  </div>
              </div>
              <div class="question bg-white p-3 border-bottom" *ngFor="let items of Data">
                  <div class="d-flex flex-row align-items-center question-title">
                      <h3 class="text-danger">Q.</h3>
                      <h5 class="mt-1 ml-2" > {{items['title']}} </h5>
                      
                  </div>
                  <div *ngFor="let items of items['options']" >
                  <div class="ans ml-2"  >
                      <label class="radio"> <input type="radio" > <span style="margin-left: 15px;">{{items['option']}} </span>
                      </label>
                  </div>
                 
                  
                </div>
              </div>

          </div>
      </div>
  </div>
</div>

  

